@use 'profile_trainner';

//variables colors
$white : white;
$black : black;
$red : #ff3636;
$blue : #4e7a97;
$white_light : #383533 ;
$color_cards: #606060;
$found_register: #313131;
$red_linght : #dc4141;



body{
   margin: 5px;
}

header{
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: $blue;

   h1{
      color: $white;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 6px 6px 3px $white_light;
      font-size: 45px;
   }

}

.content_register{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;
   margin: 3%;

   .alert{
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-content: center;
      background-color: $red_linght;
      padding: 20px;
      height: 30%;
      width: 50%;
      border-radius: 5px;
      margin-top: 2%;
      margin-bottom: 2%;

      ul{
         li{
            color: $white;
         }
      }
   }

   .form_register{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width:50% ;
      height: 50%;
      background-color: $white;
      border-radius: 5px;
      border: 3px solid $black;
      padding: 20px;
      box-shadow: 30px 27px 10px $found_register;
      font-family: Arial, Helvetica, sans-serif;

   
      label{
         color: $black;
         font-size: 16px;
      }

      div{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         width: 100%;
         margin-top: 10px;
         margin-bottom: 10px;
      }

      input{
         height: 2rem;
         width: 100%;
      }

      button{
         background-color: $white;
         color: $black;
         padding: 5px;
         border-radius: 5px;
         width: 30%;
         font-size: 15px;
         font-family: Arial, Helvetica, sans-serif;
         box-shadow: 6px 5px 5px $black;
         color: $black;

         a{
            text-decoration: none;
            color: $black;
         }
      }

      button:hover{
         background-color: $black;
         color: $white;
         box-shadow: none;
         color: $white;

         a:hover{
            text-decoration: none;
            color: $white;
         }
      }

      .textarea_register{
         width: auto;
      }

   }

}

#first_content_trainners{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;

   .cards_trainners{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      width: 20%;
      height: 20%;
      background-color: $color_cards;
      margin: 20px;
      color: $white;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 10px;

      img{
         width: 180px;
         height: 180px;
         border-radius: 100%;
         background-color: $white;
      }

      .container_parrf{
         height: 13rem;
         width: auto;

         p{
            font-family: Arial, Helvetica, sans-serif;
         }
      }

      .container_buttom{
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
         width: 100%;

         a{
            button{
               background-color: $white;
               border: none;
               border-radius: 5px;
               padding: 10px;
               font-size: 18px;
               font-family: Arial, Helvetica, sans-serif;
               cursor: pointer;
               color: $black;
               box-shadow: 5px 5px 3px $black;
            }

            button:hover{
               box-shadow: none;
            }
         }

      }
   }

}